*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: sans-serif;
}

h1{
    text-align: center;
    margin-top: 30pxx;
    font-size:120px;
    font-style: italic;
    font-size: 20px-large;
    color: background-image: linear-gradient(to right, #434343 0%, black 100%);;
}
body{
    font-size: 25px;
    background-image: linear-gradient(to top, #e14fad 0%, #f9d423 100%);
}
.container{
    max-width: 370px;
    margin: 100px auto;
    border: 3px solid rgb(117, 170, 205);
    border-radius: 5px;
    box-shadow: 4px 4px 8px #4582aa80;
    Border : solid 3px black;
   }

#display{
    text-align: center;
    height: 80px;
    color: background-image: linear-gradient(to right, #434343 0%, black 100%);
    line-height: 50px;
    padding: 15px 8px;
    font-size: 40px;
}

.buttons{
    display: grid;
    color: background-image: linear-gradient(to top, #09203f 0%, #537895 100%);  
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.buttons > div{
    line-height: 80px;
    text-align: center;
    border: 2px solid rgb(117, 170, 205);
    font-size: 30px;
    cursor: pointer;
}

.button{
    line-height: 80px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
}

#equal{
    background-image: linear-gradient(to right, #100b0b 0%, black 100%);
    font-size: 40px;
    color: rgb(0, 0, 0);
    font-weight: 800;
}
#equal:hover{
    background-color: background-image: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);rgb(116, 151, 190);
    transition: 0.5s ease-in-out;
}

.button:hover{
    background-color: rgb(8, 11, 15);
    color: rgb(0, 0, 0);
    transition: 0.5s ease-in-out;
}

